# Can we predict business registration?

In [3]:
!pip install sweetviz

Requirement already satisfied: sweetviz in c:\users\lapei\anaconda3\lib\site-packages (2.1.4)
Requirement already satisfied: matplotlib>=3.1.3 in c:\users\lapei\anaconda3\lib\site-packages (from sweetviz) (3.7.0)
Requirement already satisfied: scipy>=1.3.2 in c:\users\lapei\anaconda3\lib\site-packages (from sweetviz) (1.10.0)
Requirement already satisfied: numpy>=1.16.0 in c:\users\lapei\anaconda3\lib\site-packages (from sweetviz) (1.23.5)
Requirement already satisfied: pandas!=1.0.0,!=1.0.1,!=1.0.2,>=0.25.3 in c:\users\lapei\anaconda3\lib\site-packages (from sweetviz) (1.5.3)
Requirement already satisfied: importlib-resources>=1.2.0 in c:\users\lapei\anaconda3\lib\site-packages (from sweetviz) (5.12.0)
Requirement already satisfied: jinja2>=2.11.1 in c:\users\lapei\anaconda3\lib\site-packages (from sweetviz) (3.1.2)
Requirement already satisfied: tqdm>=4.43.0 in c:\users\lapei\anaconda3\lib\site-packages (from sweetviz) (4.64.1)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\lapei\anaconda3\lib\site-packages (from jinja2>=2.11.1->sweetviz) (2.1.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\lapei\anaconda3\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (2.8.2)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\lapei\anaconda3\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (4.25.0)
Requirement already satisfied: packaging>=20.0 in c:\users\lapei\anaconda3\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (22.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\lapei\anaconda3\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (1.0.5)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\lapei\anaconda3\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (1.4.4)
Requirement already satisfied: cycler>=0.10 in c:\users\lapei\anaconda3\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (0.11.0)
Requirement already satisfied: pillow>=6.2.0 in c:\users\lapei\anaconda3\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (9.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\lapei\anaconda3\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (3.0.9)
Requirement already satisfied: pytz>=2020.1 in c:\users\lapei\anaconda3\lib\site-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,>=0.25.3->sweetviz) (2022.7)
Requirement already satisfied: colorama in c:\users\lapei\anaconda3\lib\site-packages (from tqdm>=4.43.0->sweetviz) (0.4.6)
Requirement already satisfied: six>=1.5 in c:\users\lapei\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib>=3.1.3->sweetviz) (1.16.0)

In [1]:
import pandas as pd 
import numpy as np
import sweetviz as sv

1) Lendo os dados

In [35]:
df = pd.read_excel("Base_completa_tratada.xlsx")

In [36]:
df.head()

,cod_municipio_ibge,SGUF,NMMUN,qtd_ativas,qtd_ativas_Consórcio de Sociedades,qtd_ativas_Consórcio Simples,qtd_ativas_Cooperativa,qtd_ativas_EIRELI,qtd_ativas_Empresa Pública,qtd_ativas_Empresário Individual,...,pib_per_capita_preco_corrente,atividade_maior_valor_ad_bruto,perc_20_59_anos,perc_idosa,perc_masculino,perc_feminino,pop_total,GeoSES,total_sim_tecnologia,total_não_tecnologia
0,110001,RO,Alta Floresta D'Oeste,1567,NaN,NaN,8.0,NaN,2.0,1102,...,25091.18,"Administração, defesa, educação e saúde públic...",0.587227,0.129774,0.510881,0.489119,22516,-0.468436,18.0,12.0
1,110002,RO,Ariquemes,9231,2.0,NaN,49.0,NaN,4.0,5942,...,25730.20,Demais serviços,0.591797,0.098121,0.499298,0.500702,111148,-0.271203,12.0,18.0
2,110003,RO,Cabixi,384,NaN,NaN,3.0,NaN,1.0,295,...,32226.25,"Administração, defesa, educação e saúde públic...",0.584567,0.143477,0.509374,0.490626,5067,-0.401556,8.0,22.0
3,110004,RO,Cacoal,8615,1.0,NaN,26.0,NaN,4.0,5392,...,29331.29,Demais serviços,0.595584,0.123658,0.489655,0.510345,86416,-0.237966,17.0,13.0
4,110005,RO,Cerejeiras,1618,NaN,NaN,8.0,NaN,2.0,1158,...,37069.25,Comércio e reparação de veículos automotores e...,0.598272,0.132210,0.492292,0.507708,16088,-0.333290,8.0,22.0

2) Selecionando as variávies que vamos utilizar

In [37]:
df = df[['SGUF','NMMUN','qtd_abertas','qtd_abertas_Empresário Individual','qtd_tempo_horas','qtd_horas_Empresário Individual',
    'Mecanismos_incentivo','Reducao_IPTU', 'Isencao_IPTU', 'Reducao_ISSQN','Isencao_ISSQN','Isencao_Tx','Cessao_terrenos',
    'Doacao_terrenos','Outros_mecanismos','RH_adm_dir','ISH','densidade_banda_larga','densidade_telefonia_movel','qtd_cursos_engenharias',
    'qtd_cursos_negocios_direito','media_notas_CN','media_notas_CH','media_NU_NOTA_LC','media_NU_NOTA_MT',
    'media_NU_NOTA_REDACAO','valor_medio_recebido_familia','pib_per_capita_preco_corrente','atividade_maior_valor_ad_bruto',
    'perc_20_59_anos','pop_total','GeoSES','total_sim_tecnologia','total_não_tecnologia']]

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5570 entries, 0 to 5569
Data columns (total 34 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   SGUF                               5570 non-null   object
 1   NMMUN                              5570 non-null   object
 2   qtd_abertas                        5570 non-null   int64
 3   qtd_abertas_Empresário Individual  5570 non-null   int64
 4   qtd_tempo_horas                    4496 non-null   float64
 5   qtd_horas_Empresário Individual    3907 non-null   float64
 6   Mecanismos_incentivo               5568 non-null   object
 7   Reducao_IPTU                       3484 non-null   object
 8   Isencao_IPTU                       3484 non-null   object
 9   Reducao_ISSQN                      3484 non-null   object
 10  Isencao_ISSQN                      3484 non-null   object
 11  Isencao_Tx                         3484 non-null   object
 12  Cessao_terrenos                    3484 non-null   object
 13  Doacao_terrenos                    3484 non-null   object
 14  Outros_mecanismos                  3484 non-null   object
 15  RH_adm_dir                         5547 non-null   float64
 16  ISH                                5570 non-null   object
 17  densidade_banda_larga              5570 non-null   float64
 18  densidade_telefonia_movel          5570 non-null   float64
 19  qtd_cursos_engenharias             1193 non-null   float64
 20  qtd_cursos_negocios_direito        2006 non-null   float64
 21  media_notas_CN                     5479 non-null   float64
 22  media_notas_CH                     5486 non-null   float64
 23  media_NU_NOTA_LC                   5486 non-null   float64
 24  media_NU_NOTA_MT                   5479 non-null   float64
 25  media_NU_NOTA_REDACAO              5476 non-null   float64
 26  valor_medio_recebido_familia       5570 non-null   int64
 27  pib_per_capita_preco_corrente      5570 non-null   float64
 28  atividade_maior_valor_ad_bruto     5570 non-null   object
 29  perc_20_59_anos                    5570 non-null   float64
 30  pop_total                          5570 non-null   int64
 31  GeoSES                             5565 non-null   float64
 32  total_sim_tecnologia               5441 non-null   float64
 33  total_não_tecnologia               5441 non-null   float64
dtypes: float64(17), int64(4), object(13)
memory usage: 1.4+ MB

In [40]:
df_get = pd.get_dummies(df, prefix=None, prefix_sep='_', dummy_na=False, columns=None, sparse=False, drop_first=False, dtype=None)

In [43]:
df_get.head()

,qtd_abertas,qtd_abertas_Empresário Individual,qtd_tempo_horas,qtd_horas_Empresário Individual,RH_adm_dir,densidade_banda_larga,densidade_telefonia_movel,qtd_cursos_engenharias,qtd_cursos_negocios_direito,media_notas_CN,...,"atividade_maior_valor_ad_bruto_Administração, defesa, educação e saúde públicas e seguridade social","atividade_maior_valor_ad_bruto_Agricultura, inclusive apoio à agricultura e a pós colheita",atividade_maior_valor_ad_bruto_Comércio e reparação de veículos automotores e motocicletas,atividade_maior_valor_ad_bruto_Construção,atividade_maior_valor_ad_bruto_Demais serviços,"atividade_maior_valor_ad_bruto_Eletricidade e gás, água, esgoto, atividades de gestão de resíduos e descontaminação",atividade_maior_valor_ad_bruto_Indústrias de transformação,atividade_maior_valor_ad_bruto_Indústrias extrativas,"atividade_maior_valor_ad_bruto_Pecuária, inclusive apoio à pecuária","atividade_maior_valor_ad_bruto_Produção florestal, pesca e aquicultura"
0,233,194,46.326970,39.01,926.0,8.958074,70.647540,2.0,30.0,497.721951,...,1,0,0,0,0,0,0,0,0,0
1,1659,1275,104.011375,67.73,2563.0,21.363407,93.858639,99.0,342.0,474.773986,...,0,0,0,0,1,0,0,0,0,0
2,58,49,32.906250,19.40,344.0,5.407539,78.369844,NaN,NaN,477.266667,...,1,0,0,0,0,0,0,0,0,0
3,1624,1258,122.208551,58.31,1971.0,19.480189,105.350861,184.0,422.0,489.744000,...,0,0,0,0,1,0,0,0,0,0
4,316,257,43.914474,21.41,591.0,8.540527,108.074341,4.0,35.0,479.268750,...,0,0,1,0,0,0,0,0,0,0